/* MEDIA QUERY FOR RESPONSIVENESS */

@media (max-width: 768px) {
  header {
    padding: 0;
    text-align: center;
  }

  h2 {
    font-size: 1.2em;
  }

  .container {
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0;
    padding-bottom: 0.8em;
  }

  .experience {
    padding-bottom: 0.8em;
  }

  .resume-main {
    margin-bottom: 0;
  }

  .main-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .left-side {
    align-items: flex-start;
    border-bottom: #da845c solid 0.15em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
  }

  .left-side {
    text-align: center;
  }
  .cert-wrapper {
    width: 15rem;
    height: auto;
  }

  .left-wrapper {
    border-right: none;
    text-align: left;
    padding: 0;
  }

  .right-wrapper {
    display: flex;
    border-bottom: #da845c solid 0.15em;
    flex-direction: column-reverse;
    text-align: left;
    padding: 0;
    margin: 0;
    border-left: none;
  }

  .right-wrapper .experience {
    padding-top: 0.8em;
    border-top: #da845c solid 0.15em;
    border-bottom: #da845c solid 0.15em;
    text-align: left;
    order: 0;
  }

  .cloudresumechallenge {
    padding-top: 0.8em;
  }

  .foto {
    margin-bottom: 20px;
  }

  .foto img {
    border-top: 5px solid #79b1b7;
    border-left: 5px solid #79b1b7;
    border-right: 5px solid #79b1b7;
  }

  a {
    text-decoration: none;
  }

  a:visited {
    color: rgb(85, 85, 85);
  }
}
.back-to-top a {
  color: white;
}

@media (max-width: 550px) {
  header {
    height: 14em;
  }
  .blog-header h1 {
    letter-spacing: 0.4rem;
  }
}

@media (max-width: 480px) {
  header {
    height: 12em;
  }

  .blog-header h1 {
    letter-spacing: 0.3rem;
  }
  .blog-main h2 {
    text-decoration-thickness: 1px;
  }
  #myBtn:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  #myBtn:hover:active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 410px) {
  .resume-container {
    margin: 0px;
    padding: 0px;
  }
  header {
    height: 10em;
    padding: 2%;
  }
  header h1 {
    text-decoration: none;
    font-size: 2.1em;
    font-weight: 500;
    font-family: "IBM Plex Mono", sans-serif;
    letter-spacing: 1px;
    align-content: start;
    display: flex;
  }
  .blog-header h1 {
    letter-spacing: 0.2rem;
  }
}
